:root {
    --primary: #0036af;
}

.header {
    background: var(--primary);
    color: rgb(255, 255, 255);
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-content {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.brand-text h4 {
    margin: 0;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: justify;
}

.brand-text p {
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.85;
    text-align: justify;
}
